
body{
  font-size: 100%;
}
img {
  max-width: 60%;
  height: auto;
}
img #green{
  width: 10%;
  height: auto;
}
nav{
  background-color: #caeafd;
}




img{
  float: left;

}


table {
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
}
table th,tr,td {

    border: 1px solid #ccc;
}
table td:hover{
  background-color: silver;
}
table th,td{

  text-align: center;
  vertical-align: middle;
}
.nh:hover {
     background-color: white !important;
 }
